.matrix-page {
  .cell {
    cursor: pointer;
    &:hover {
      rect {
        fill: #27b4d1;
      }
      text {
        fill: #fff;
      }
    }
  }
  .labels {
    text {
      line-height: 1.33;
      letter-spacing: 0.4px;
      text-align: right;
      color: #061632;
      font-size: 12px;
    }
  }
  .row-active {
    border-radius: 8px;
    border: solid 2px #27b4d1;
  }
}

.tooltip {
  position: absolute;
  padding: 5px;
  width: 156px;
  opacity: 0.8;
  background-color: #344563;
  font-family: Rubik;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.3px;
  text-align: center;
  color: #ffffff;
  border-radius: 4px;
}
