.matrix-page {
  .cell {
    cursor: pointer;
    &:hover {
      rect {
        fill: #27b4d1;
      }
      text {
        fill: #fff;
      }
    }
  }
  .labels {
    text {
      line-height: 1.33;
      letter-spacing: 0.4px;
      text-align: right;
      color: #061632;
      font-size: 12px;
    }
  }
  .row-active {
    border-radius: 8px;
    border: solid 2px #27b4d1;
  }
}
